<ion-header>

  <ion-navbar>
    <ion-title>添加申请</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="lab">
    <h2>{{lab.code}}</h2>
    <p>
      容量：{{lab.capacity}}
    </p>
    <div style="margin-top: 1.5rem">
      {{lab.description}}
    </div>
    <div *ngFor="let reply of reservationsAll.replies" style="border: solid 1px #000;margin-top: 1.5rem;padding: 1rem">
      {{reply.user?.name}}
      <hr>
      {{reply.content}}
    </div>
  </div>
  <div>
    <ion-item>
      <ion-label>开始时间</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="newReservation.startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>结束时间</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="newReservation.endTime"></ion-datetime>
    </ion-item>
    留言：<textarea [(ngModel)]="newReservation.description"></textarea>
  </div>
  <button ion-button block (click)="submitReservation()">
    <ion-icon name="send"></ion-icon> 发布
  </button>
</ion-content>
