<ion-header>

  <ion-navbar>
    <ion-title>讨论详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="reservationsAll">
    <h2>{{reservationsAll.title}}</h2>
    <p>
      {{reservationsAll.user?.name}}<br>
      {{reservationsAll.time}}
    </p>
    <div style="margin-top: 1.5rem">
      {{reservationsAll.content}}
    </div>
    <div *ngFor="let reply of reservationsAll.replies" style="border: solid 1px #000;margin-top: 1.5rem;padding: 1rem">
      {{reply.user?.name}}
      <hr>
      {{reply.content}}
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="replyText()"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>|
  </ion-fab>
</ion-content>
