<ion-header>

  <ion-navbar>
    <ion-title>讨论详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="post">
    <h2>{{post.title}}</h2>
    <p>
      {{post.user?.name}}<br>
      {{post.time}}
      &nbsp;
      {{post.group?.name}}
    </p>
    <div style="margin-top: 1.5rem">
      {{post.content}}
    </div>
    <div *ngFor="let reply of post.replies" style="border: solid 1px #000;margin-top: 1.5rem;padding: 1rem">
      {{reply.user?.name}}
      <hr>
      <p *ngIf="reply.mode === 'text'">
        {{reply.content}}
      </p>
      <img *ngIf="reply.mode === 'picture'" [src]="reply.content"/>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="replyText()"><ion-icon name="create"></ion-icon></button>
      <button ion-fab color="primary" (click)="replyImage()"><ion-icon name="image"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
