<ion-header>

  <ion-navbar>
    <ion-title>我的申请</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h2 *ngIf="lab">实验室：{{lab.code}}</h2>
  长按申请来删除
  <ion-list>
    <button ion-item *ngFor="let reservation of Reservations" (press)="confirmDeletion(reservation)" class="post-item">
      <p>
        起始时间：{{reservation.startTime | date:'yyyy-MM-dd HH:mm'}}<br>
        结束时间：{{reservation.endTime | date:'yyyy-MM-dd HH:mm'}}
      </p>
      <p *ngIf="reservation.status === 'init'" style="color: #1D5C80"><b>待审批</b></p>
      <p *ngIf="reservation.status === 'approved'" style="color: #34c644"><b>已通过</b></p>
      <p *ngIf="reservation.status === 'rejected'" style="color: #ff4441"><b>已回绝</b></p>
      <p>{{reservation.description}}</p>
    </button>
  </ion-list>

</ion-content>
