<ion-header>
  <ion-navbar>
    <ion-title>仪器列表</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding *ngIf="totalInstrumentCount!=-1">
    共找到 {{totalInstrumentCount}} 种符合条件的仪器
  </div>

  <instrument-card
    *ngFor="let instrument of instruments"
    [instrument]="instrument"
    (cardClicked)="goInstrumentDetail(instrument.id)"
  ></instrument-card>

  <ion-infinite-scroll *ngIf="currentPage<=totalPageCount" (ionInfinite)="$event.waitFor(getMoreInstruments())">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--<instrument-card-->
  <!--*ngFor="let instrument of instruments"-->
  <!--[instrument]="instrument"-->
  <!--[brief]="instrumentCardBrief"-->
  <!--(shareButtonClicked)="shareInstrument(instrument)"-->
  <!--(detailButtonClicked)="goInstrumentDetail(instrument)"-->
  <!--&gt;</instrument-card>-->
</ion-content>
