page-paper-list {
    ion-card-header{
        background-color: color($colors, primary);
        color: #ffffff!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    ion-card-content{
        padding-top: 8px!important;
        padding-bottom: 0!important;
    }
    .card-bottom{
        padding: 0 11px 8px;
        ion-col p{
            height: 100%;
            line-height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
