<ion-header>
    <ion-navbar>
        <ion-title>论文列表<span *ngIf="pageFrom=='label'">-{{param.labelName}}</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="this.paperCardBrief=!this.paperCardBrief;">
                <ion-icon [name]="paperCardBrief?'ios-reorder':'md-reorder'"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div padding *ngIf="totalPaperCount!=-1">
        共找到 {{totalPaperCount}} 篇符合条件的论文
    </div>
    <paper-card
        *ngFor="let paper of papers"
        [paper]="paper"
        [brief]="paperCardBrief"
        (shareButtonClicked)="sharePaper(paper)"
        (detailButtonClicked)="goPaperDetail(paper)"
    ></paper-card>

    <button ion-button block clear (click)="getMorePapers()" *ngIf="currentPage<=totalPageCount">加载更多</button>

</ion-content>
