<ion-header>
    <ion-navbar>
        <ion-title>试剂列表</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
  <div padding *ngIf="totalReagentCount!=-1">
    共找到 {{totalReagentCount}} 种符合条件的试剂
  </div>

  <reagent-card
    *ngFor="let reagent of reagents"
    [reagent]="reagent"
    (cardClicked)="goReagentDetail()"
  ></reagent-card>

  <ion-infinite-scroll *ngIf="currentPage<=totalPageCount" (ionInfinite)="$event.waitFor(getMoreReagents())">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--<reagent-card-->
    <!--*ngFor="let reagent of reagents"-->
    <!--[reagent]="reagent"-->
    <!--[brief]="reagentCardBrief"-->
    <!--(shareButtonClicked)="shareReagent(reagent)"-->
    <!--(detailButtonClicked)="goReagentDetail(reagent)"-->
  <!--&gt;</reagent-card>-->
</ion-content>
