// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/variables";

a.normal-text{
    color: #000;
    display: block;
}

span.label{
    display: inline-block;
    border-radius:0.3em;
    background-color: #747474;
    color: #ffffff;
    padding:0.1em 0.3em;
    margin: 0.2em 1em 0.3em 0;
}


// Tabs
.tabs-ios .tabbar{
    border-top: none;
}
.tabbar{
    background-color: colors(primary)!important;
}

// NavBar
ion-navbar{
    .toolbar-background{
        background-color: colors(primary);
    }
    .toolbar-background-ios{
        border-bottom:none!important;
    }
}
