<ion-card>
    <ion-card-header>
        {{paper.title}}
    </ion-card-header>
    <ion-card-content>
        丁淑婷，孙舒畅，沈佳炜<br>
        导师：李霁<br>
        实验包括用超声波细胞粉碎机初步提取多酚类物质；以没食子酸为标准物质，用可见光分光光度计制作标准曲线对所得产物进行含量测定；通过自由基清除实验测定其氧化性；研究花生红衣多酚对金黄色葡萄球菌、大肠杆菌、枯草芽孢杆菌和黑曲霉...
    </ion-card-content>
    <div class="card-bottom">
        <ion-row>
            <ion-col>
                <p><ion-note>年度：2014</ion-note></p>
            </ion-col>
            <ion-col text-center>
                <p><ion-note>下载次数：19</ion-note></p>
            </ion-col>
            <ion-col text-right>
                <button ion-button icon-left clear small (click)="cardClick()">
                    <ion-icon name="book"></ion-icon>
                    <div>详情</div>
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-card>
