<ion-header>

  <ion-navbar>
    <ion-title>课件资料</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="files">
    <ng-container *ngFor="let file of files">
      <button ion-item (click)="openFolder(file)">
        <ion-icon name="folder" item-start></ion-icon>
        {{file.name}}
      </button>
      <a ion-item [href]="coursewareSvc.getDownloadLink(file)" download>
        <ion-icon name="document" item-start></ion-icon>
        {{file.name}}
      </a>
    </ng-container>
  </ion-list>
  <div padding text-center *ngIf="files?.length === 0">
    文件夹为空
  </div>
</ion-content>
