<ion-header>

  <ion-navbar>
    <ion-title>{{folderName?folderName:'课件资料'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="files">
    <ng-container *ngFor="let file of files">
      <button ion-item (click)="openFolder(file)" *ngIf="file.isFolder">
        <ion-icon name="ios-folder-outline" item-start></ion-icon>
        {{file.name}}
      </button>
      <button ion-item (click)="coursewareSvc.download(file)" *ngIf="!file.isFolder">
        <ion-icon name="ios-document-outline" item-start></ion-icon>
        {{file.name}}
      </button>
    </ng-container>
  </ion-list>
  <div padding text-center *ngIf="files?.length === 0">
    文件夹为空
  </div>
</ion-content>
