page-links {
    .scroll-content{
        background-color: #f4f4f4;
    }
    ion-row{
        background-color: #ffffff;
    }
    button{
        ion-label{
            text-align: center;
        }
    }
}
