<ion-header>

  <ion-navbar>
    <ion-title>通知公告</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list *ngIf="page">
    <button ion-item *ngFor="let notice of page.items" (click)="viewDetail(notice.id)" class="notice-item">
      <h2>
        <ion-icon *ngIf="notice.starred" name="star" color="striking"></ion-icon>
        {{notice.title}}
      </h2>
      <p>{{notice.time}}</p>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中…"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
