<ion-header>
  <ion-navbar>
    <ion-title>试剂详情</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="reagent">

    <div class="head">
      <ion-slides pager paginationType="progress">
        <ion-slide *ngFor="let picture of reagent.pictures">
          <a class="picture" (click)="viewPicture(picture.url,picture.description)" [style.background-image]="'url('+picture.url+'?imageView2/2/w/500)'"></a>
        </ion-slide>
      </ion-slides>
      <h2>{{reagent.chineseName}}</h2>
    </div>

    <div padding>
      <span *ngIf="reagent.dangerous" ion-text color="danger">
        <ion-icon name="warning"></ion-icon> {{reagent.dangerous}}<br>
      </span>
      英文名：{{reagent.englishName}}<br>
      别名：{{reagent.alias}}<br>
      分子式：<span [innerHtml]="reagent.molecularFormulaParsed | sanitizeHtml"></span><br>
      分子量：{{reagent.molecularWeight}}<br>
      描述：{{reagent.description}}<br>
    </div>

  </div>

</ion-content>
