<ion-header>

  <ion-navbar>
    <ion-title>论文详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="paper" style="padding-bottom: 20px">
        <h2>{{paper.title}}</h2>
        <span class="label" *ngFor="let label of paper.labels">{{label.name}}</span><br>
        <p>
            <b>作者：</b>丁淑婷，孙舒畅，沈佳炜<br>
            <b>指导老师：</b><span *ngFor="let teacher of paper.teachers">{{teacher.name}}&nbsp;</span><br>
            <b>关键词：</b>{{paper.keyword}}<br>
            <b>主题：</b>{{paper.subject}}<br>
            <b>摘要：</b>{{paper.abstract}}<br>
        </p>
        <ion-row>
            <ion-col>
                <button ion-button block icon-left (click)="share()"><ion-icon name="share-alt"></ion-icon>分享</button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-left (click)="download()"><ion-icon name="cloud-download"></ion-icon>下载</button>
            </ion-col>
            <ion-col>
                <button ion-button block icon-left (click)="read()"><ion-icon name="glasses"></ion-icon>阅读</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
