<ion-header>

  <ion-navbar>
    <ion-title>预约详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="lab">
    <h2>实验室：{{lab.code}}</h2>
    <p>
      容量：{{lab.capacity}}
    </p>
    <div style="margin-top: 1.5rem">
      {{lab.description}}
    </div>
    <ion-item>
      <ion-label>查询日期</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="curDate" (ngModelChange)="flushDate()"></ion-datetime>
    </ion-item>
    <div *ngIf="!reservationsAll">
      <p>暂无预约记录</p>
    </div>
    <div *ngFor="let reservation of reservationsAll" style="border: solid 1px #000;margin-top: 1.5rem;padding: 1rem">
      预约 #{{reservation.id}}
      <p>
        开始时间：{{reservation.startTime | date: 'yyyy-MM-dd HH:mm'}}<br>
        结束时间：{{reservation.endTime | date: 'yyyy-MM-dd HH:mm'}}
      </p>
      <hr>
      {{reservation.description}}
    </div>
  </div>
  <button ion-button block (click)="viewMyReservations()">我的预约</button>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addMyReservation()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
