<ion-header>
    <ion-navbar>
        <ion-title>基础搜索</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <!--<ion-searchbar (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" #searchbar [(ngModel)]="searchInput" [placeholder]="searchType=='paper'?'查询论文':searchType=='reagent'?'查询试剂':'查询'"></ion-searchbar>-->
    <ion-list style="margin-bottom: 20px">
        <ion-item>
            <ion-input type="text" [(ngModel)]="searchInput" placeholder="输入关键词 空格分隔"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>搜索类型</ion-label>
            <ion-select [(ngModel)]="searchField" cancelText="取消" okText="确定">
                <ion-option value="all">全部</ion-option>
                <ion-option value="subject">主题</ion-option>
                <ion-option value="title">标题</ion-option>
                <ion-option value="keyword">关键词</ion-option>
                <ion-option value="teacher">指导教师</ion-option>
                <ion-option value="content">文章内容</ion-option>
                <ion-option value="publishYear">发表年份</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="goSearch()">
        <ion-icon name="search"></ion-icon> 搜索
    </button>

    <div style="margin-top: 20px;text-align: center" *ngIf="historyItems.length>0">
        <label>历史搜索</label>
        <a class="history-item" (click)="goSearch(item)" *ngFor="let item of historyItems">{{item}}</a>
        <button ion-button clear color="dark" (click)="clearHistory()">清空记录</button>
    </div>

    <!--<div>-->
    <!--<ion-list id="quick-list">-->
    <!--&lt;!&ndash;<button ion-item [hidden]="searchInput==''" (click)="goSearch()">&ndash;&gt;-->
    <!--&lt;!&ndash;直接搜索 "{{searchInput}}"&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--<div *ngIf="searchInput!=''">-->
    <!--<button ion-item *ngFor="let label of (labels | fuzzyFilter:{'name':searchInput})" (click)="goPaperListByLabel(label)">-->
    <!--标签：{{label.name}}-->
    <!--</button>-->
    <!--</div>-->
    <!--</ion-list>-->
    <!--</div>-->
</ion-content>
