<ion-header>
    <ion-navbar>
        <ion-title>基础搜索</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-searchbar (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" #searchbar [(ngModel)]="searchInput" [placeholder]="searchType=='paper'?'查询论文':searchType=='reagent'?'查询试剂':'查询'"></ion-searchbar>
    <div>
        <ion-list id="quick-list">
            <button ion-item [hidden]="searchInput==''" (click)="goSearch()">
                直接搜索 "{{searchInput}}"
            </button>
            <div *ngIf="searchInput!=''">
                <button ion-item *ngFor="let label of (labels | fuzzyFilter:{'name':searchInput})" (click)="goPaperListByLabel(label)">
                    标签：{{label.name}}
                </button>
            </div>
        </ion-list>
    </div>
</ion-content>
